body {
	margin: 0;
	font-family: Trebuchet MS;
	background: #f4f4f4;
}

* {
	box-sizing: border-box;
}

.alfred {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
	transition: .3s;
}

.alfred.-invisible {
	opacity: 0;
}

.control-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	width: 500px;
	height: 250px;
	padding: 25px;
	background: #565656;
	border-radius: 10px;
}

 .bubble {
 	position: absolute;
 	right: -160px;
 	top: -40px;
 	padding: 40px;
 	background-color: white;
 	color: black;
 	font-weight: 900;
 	border-radius: 15px;
 	min-width: 140px;
 	opacity: 0;	
 	transition: 1s;
 }

 .bubble.-visible {
 	opacity: 1;
 }

.bubble.-invisible {
	opacity: 0;
}

 .bubble:before {
 	position: absolute;
 	display: block;
 	content: "";
 	bottom: 0px;
 	left: 0px;
 	background-color: white;
 	width: 15px;
 	height: 15px;
 }

 input, button {
 	outline: none;
 	border-radius: 4px;
 	padding: 6px;
 	font-size: 13px;
 	font-weight: 900;
 	border: none;
 }

input {
	margin-right: 20px;
	margin-bottom: 20px;
}

.calc-panel button {
	cursor: pointer;
	transition: 1s;
	width: 60px;
	font-size: 32px;
}

button:hover {
	background: yellow;
}

button:active {
	background: green;
}

.calc-panel {
	margin-bottom: 20px;
}

.test-array {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 400px;
	height: 200px;
	background-color: #565656;
	border-radius: 20px;
	transition: 1.5s;
}

.test-item {
	position: relative;
	top: 30px;
	left: 30px;
	width: 140px;
	height: 140px;
    background-color: white;4
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
}


.time {
	transition: 1.5s;
}